<div class="container mt-3">
  <div class="d-flex gap-4">
    <div><%= link_to 'New User', new_user_path(role: params[:role]), class: 'btn btn-primary' %></div>
    <div><%= link_to 'Update Limit', update_coin_limit_users_path(role: params[:role]), class: 'btn btn-primary' %></div>
  </div> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>